	<!-- Sharethis
  ================================================== -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ur-98c5c079-582-4b9f-ed66-a6a2eee6d3c"});</script>

<div id="wrap">
	<div class="container">
    <%= render :partial => "header" %>

		<!-- ########################### MAIN ########################### -->

<h3 class="section-title">Galeria de Fotos</h3>

<div class="row">
	<div class="sixteen columns">

		<ol class="listing group">
			<li class="one-third column alpha">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("03.jpg", :alt => "", :class => "scale-with-grid")), image_path("03.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>
					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("04.jpg", :alt => "", :class => "scale-with-grid")), image_path("04.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column omega">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("05.jpg", :alt => "", :class => "scale-with-grid")), image_path("05.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

          <p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column alpha">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("06.jpg", :alt => "", :class => "scale-with-grid")), image_path("06.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("07.jpg", :alt => "", :class => "scale-with-grid")), image_path("07.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column omega">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("08.jpg", :alt => "", :class => "scale-with-grid")), image_path("08.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>
					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
      <li class="one-third column alpha">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("10.jpg", :alt => "", :class => "scale-with-grid")), image_path("10.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("11.jpg", :alt => "", :class => "scale-with-grid")), image_path("11.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>
			<li class="one-third column omega">
				<div class="latest-item gallery-item">
          <%= link_to (image_tag("12.jpg", :alt => "", :class => "scale-with-grid")), image_path("12.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>
					<p class="album-info">
						<span class="sub-head"></span>
					</p>
				</div><!-- /latest-album -->
			</li>

      <li class="one-third column alpha">
        <div class="latest-item gallery-item">
          <%= link_to (image_tag("13.jpg", :alt => "", :class => "scale-with-grid")), image_path("13.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

          <p class="album-info">
            <span class="sub-head"></span>
          </p>
        </div><!-- /latest-album -->
      </li>
      <li class="one-third column">
        <div class="latest-item gallery-item">
          <%= link_to (image_tag("14.jpg", :alt => "", :class => "scale-with-grid")), image_path("14.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>

          <p class="album-info">
            <span class="sub-head"></span>
          </p>
        </div><!-- /latest-album -->
      </li>
      <li class="one-third column omega">
        <div class="latest-item gallery-item">
          <%= link_to (image_tag("15.jpg", :alt => "", :class => "scale-with-grid")), image_path("15.jpg"), :rel => "prettyPhoto[pp_gal]", "data-rel" => "prettyPhoto[pp_gal]" %>
          <p class="album-info">
            <span class="sub-head"></span>
          </p>
        </div><!-- /latest-album -->
      </li>

    </ol><!-- /gallery -->

	</div><!-- /sixteen columns -->
  </div><!-- /row -->

</div><!-- /container -->
</div><!-- /wrap -->

