<div id="wrap">
	<div class="container">
    <%= render :partial => "header" %>
    <!-- ########################### SLIDER ########################### -->
		<div class="container slider">
			<div class="sixteen columns">

				<div class="flexslider">
				  <ul class="slides">
				    <li>
				      <a href="#">
					      <%= image_tag ("01slide.jpg") %>
					      <div class="slide-text">
					      	<h2>Fxmobiledj</h2>
					      </div>
				      </a>
				    </li>
				    <li>
				      <a href="#">
					      <%= image_tag ("02slide.jpg") %>
					      <div class="slide-text">
					      	<h2>Fxmobiledj</h2>
					      </div>
				      </a>
				    </li>
				    <li>
				      <a href="#">
					      <%= image_tag ("03slidereplace.jpg") %>
					      <div class="slide-text">
					      	<h2>Fxmobiledj</h2>
					      </div>
				      </a>
            </li>
            <li>
				      <a href="#">
					      <%= image_tag ("04slide.jpg") %>
					      <div class="slide-text">
					      	<h2>Fxmobiledj</h2>
					      </div>
				      </a>
				    </li>
				  </ul>
				</div>
			</div><!-- /sixteen columns -->
		</div><!-- /slider -->
	<!-- ########################### MAIN ########################### -->
	<div class="row">
		<div class="sixteen columns">
			<aside class="four columns alpha sidebar">
			</aside><!-- /sidebar -->
		</div><!-- /sixteen columns -->
	</div><!-- /row -->
</div><!-- /container -->


</div><!-- /wrap -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30378589-1']);
  _gaq.push(['_setDomainName', 'fxmobiledj.com']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

</script>
